 -----
Eclipse xml editor 
 -----
 
 
Welcome

  Rinzo is a free open source Eclipse plugin that provides pure and java integrated xml documents edition. It's widely used for its performance
  on big xml documents, syntax coloring, XPath evaluation, DTD/Schema generation from xml, java class names proposition and since version 1.3.0 
  from its jaxb classes and parser generation. 


	Wants more?  Rinzo improves edition with these useful features:
	
	* Quick assist for renaming, duplication, cutting, deleting and commenting tags.
	
	* Contextual menu for java class open and create declaration, escaping xml/html	characters, formatting xml and generation of jaxb parser.
	
	* Keyboard shortcuts
	
	* Autocompletion. Tags and attributes proposition with or without DTD/Schema
	
	[]
	
	Take a look at the features section for more details of what you can do with Rinzo.
 
	Do you want to see {{{./releaseNotes.html}<<What's new in ${version}?>>}}
	
* Requirements

  * {{{http://eclipse.org/downloads}Eclipse 3.6.2 or above}}
  
  * Since this plugin is compiled on java 5, you should start your Eclipse using a {{{http://java.sun.com/javase/downloads/index.jsp}JRE 5 or above}} 

  []