<settings xmlns="http://maven.apache.org/POM/4.0.0" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>central</id>
			<username>ccancinos</username>
			<password>cancinman</password>
			<filePermissions>664</filePermissions>
			<directoryPermissions>775</directoryPermissions>
			<configuration></configuration>
		</server>
		<server>
			<id>snapshots</id>
			<username>ccancinos</username>
			<password>cancinman</password>
			<filePermissions>664</filePermissions>
			<directoryPermissions>775</directoryPermissions>
			<configuration></configuration>
		</server>
	</servers>
	<profiles>
		<profile>
	<repositories>
		<repository>
			<id>central</id>
			<url>http://andina.no-ip.biz:8080/artifactory/libs-releases</url>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</repository>
		<repository>
			<id>snapshots</id>
			<url>http://andina.no-ip.biz:8080/artifactory/libs-snapshots</url>
			<releases>
				<enabled>false</enabled>
			</releases>
		</repository>
	</repositories>
	<pluginRepositories>
		<pluginRepository>
			<id>central</id>
			<url>http://andina.no-ip.biz:8080/artifactory/plugins-releases</url>
			<snapshots>
				<enabled>false</enabled>
			</snapshots>
		</pluginRepository>
		<pluginRepository>
			<id>snapshots</id>
			<url>http://andina.no-ip.biz:8080/artifactory/plugins-snapshots</url>
			<releases>
				<enabled>false</enabled>
			</releases>
		</pluginRepository>
	</pluginRepositories>
		</profile>
	</profiles>
</settings>